.center{
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    color: black;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}
.forgot{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}
.login{
   

    display: flex;
    justify-content: center;
    align-items: center;
}